@media(max-width: 1440px) {
	.logo {
		img {
			width: 100px;
		}
	}

	.header__title {
		font-size: 130px;
		line-height: 108px;
		top: 20px;
		left: 60px;
	}
	.menu {
		padding-top: 10px;
	}

	.header-search {
		padding-bottom: 8px;
	}

	.header__date {
		font-size: 60px;
		span {
			font-size: 14px;
			padding-top: 0;
			margin-bottom: 5px;
		}
	}

	.header__arrows {
		left: 130px;
	}

	.surf-box__inner {
		min-height: 650px;
	}
}

@media(max-width: 1366px) {
	.header__aside {
		height: 114px;
		border-right: none;
		text-align: left;
		display: flex;
		background-color: rgba(#fff, .1);
		padding-right: 25px;
	}

	.menu {
		padding-top: 0;
	}

	.menu__list {
		text-align: center;
		li {
			display: inline-block;
		}
		a {
			padding: 15px;
		}
	}

	.header-search {
		padding: 33px 15px 15px;
	}

	.header__date {
		padding: 15px;
	}

	.header__location {
		margin-top: 42px;
	}

	.slider-item__info-title {
		font-size: 65px;
	}

	.shop__slider-content {
		padding-left: 40px;
	}

	.shop__slider-price {
		margin-bottom: 30px;
	}
}

@media(max-width: 1340px) {
	.header__map {
		svg {
			width: 500px;
			height: 250px;
		}
	}

	.slider-arrows {
		top: 20px;
		right: 20px;
	}

	.slider-arrows__left {
		right: 60px;
	}

	.header__arrows {
		left: 20px;
		bottom: 20px;
	}
}

@media(max-width: 1287px) {
	.slider-map .slick-list {
		overflow: hidden;
	}
	.slider-dots__circle {
		box-shadow: none;
	}
}

@media(max-width: 1250px) {
	.slider-map {
		max-width: 1000px;
		min-height: 515px;
		.slick-list {
			min-height: 515px;
		}
	}

	.slider-dots--1 {
		top: 266px;
	}

	.slider-dots--2 {
		top: 232px;
	}

	.slider-dots--3 {
		top: 253px;
	}

	.slider-dots--4 {
		top: 390px;
	}

	.slider-dots--5 {
		top: 180px;
	}

	.slider-dots--6 {
		top: 440px;
		left: -85px;
	}

	.slider-dots--7 {
		top: 312px;
		left: -85px;
	}

	.slider-dots--8 {
		top: 397px;
	}

	.shop__slider {
		padding-left: 20px;
	}

	.shop__slider-inner {
		display: block;
	}
	.shop__slider-info {
		max-width: 100%;
		padding-top: 55px;
		padding-bottom: 50px;
	}

	.surfboard__position--3 .surfboard-box__content {
		left: 60px;
		&::before {
			right: auto;
			left: -32px;
			width: 20px;
		}
	}
}

@media(max-width: 1150px) {
	.holder-slider__descr {
		padding: 160px 0 20px;
	}

	.surf, .holder {
		padding: 70px 0 50px;
	}


}

@media(max-width: 1102px) {
	.slider-map {
		background-image: none;
		max-width: 100%;
		min-height: 280px;
		.slick-list {
			min-height: 635px;
			overflow: hidden;
			min-height: 280px;
		}
		.slick-track {
			min-height: 280px;
		}
		.slick-current {
			.slider-dots__content {
				background-color: rgba(51, 57, 58, .7);
			}
		}
	}
	.slider-dots__circle {
		display: none;
	}

	.slider-dots__content,
	.slider-dots--8 .slider-dots__content {
		display: block;
		transform: translateX(0);
		width: 285px;
		padding: 28px 31px 0 32px;
		&::before {
			display: none;
		}
	}

	.slider-dots {
		position: static;
	}


}


@media(max-width: 1040px) {
	.header__arrows {
		display: none;
	}

	.holder-slider__info {
		display: block;
		&-subtitle {
			position: static;
			transform: rotate(0);
			height: auto;
			width: auto;
			text-align: left;
		}
		&-item {
			min-height: auto;
			margin-bottom: 20px;
			padding-left: 20px;
		}
		&-title {
			padding-left: 0;
		}
	}

	.holder-slider__descr {
		background-position: right -119px;
	}

	.holder {
		.title {
			span {
				padding-bottom: 0;
			}
		}
	}

	.quantity-button.quantity-up {
		right: auto;
		left: 25px;
	}

	.quantity-button.quantity-down {
		right: auto;
	}

	.sleep {
		.holder-slider__descr {
			background-position: right 10px;
		}
	}
} 

@media(max-width: 1000px) {
	.menu {
		background-color: #000;
		z-index: 22;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-top: 16px;
		transform: translateX(-100%);
		transition: all .8s;
		&.active {
			transform: translateX(0);
		}
	}

	.menu-btn {
		display: flex;
	}

	.header-search {
		padding: 40px 15px 15px;
	}

	.slider-item {
		&__info {
			right: 20px;
			bottom: 17px;
			&-text {
				font-size: 30px;
				line-height: 20px;
				margin-bottom: 15px;
			}
			&-suptext {
				margin-bottom: 5px;
			}
			&-title {
				font-size: 55px;
				line-height: 55px;
				margin-bottom: 20px;
			}
		}
	}

	.head-line-left {
		font-size: 16px;
		line-height: 18px;
		padding-left: 65px;
		&::before {
			width: 60px;
		}
	}

	.headline-right {
		font-size: 16px;
		line-height: 18px;
		padding-right: 65px;
		&::before {
			width: 60px;
		}
	}

	.slider-dotshead {
		bottom: 5px;
		right: 0;
		left: 10px;
		margin: 0 auto;
	}

	.dots-box {
		width: 125px;
		&__number {
			font-size: 18px;
		}
		&__name {
			line-height: 18px;
		}
	}

	.surf__subtitle {
		padding-right: 20px;
	}
} 

@media(max-width: 960px) {
	.slider-dotshead {
		display: none;
	}
}

@media(max-width: 767px) {
	.surfboard-box__content {
		padding-left: 0;
		top: 35px;
		left: 0;
		width: 270px;
		&::before {
			display: none;
		}
	}

	.surfboard__position--1 {
		.surfboard-box__content {
			left: -177px;
		}
	}

	.shop__extras {
		padding-left: 75px;
	}
}

@media(max-width: 720px) {
	.title {
		span {
			font-size: 87px;
			padding-bottom: 80px;
			padding-left: 10px;
		}
	}

	.surf-slider {
		padding-top: 65px;
		.slider-arrows {
			top: 20px;
		}
	}

	.holder-slider__head {
		min-height: 720px;
	}

	.holder-slider__subtitle {
		padding: 100px 20px 0 0;
	}
}

@media(max-width: 680px) {
	.shop__slider-content {
		display: block;
	}

	.shop__extras {
		padding-left: 0;
		padding-top: 35px;
	}
	.surfboard__position--1 {
		left: 155px;
	}
	.footer {
		padding: 100px 0 34px;
	}
}

@media(max-width: 640px) {
	.holder-slider__descr {
		background-image: none !important;
	}
	.btn {
		font-size: 30px;
	}
}

@media(max-width: 520px) {
	.head-line-left {
		letter-spacing: 2.333px;
	}
	.subtitle__head,
	.descr__head {
		padding-right: 0;
		font-size: 32px;
	}
}

@media(max-width: 460px) {
	.menu {
		background-color: #192425;
	}
	.header__aside {
		display: block;
		text-align: center;
		padding-right: 0;
		height: 100vh;
	}
	.header-search {
		padding: 15px 0 5px;
		
	}
	.header__date {
		padding: 0;
		font-size: 50px;
		line-height: 45px;
		span {
			font-size: 12px;
		}
	}

	.header__location {
		margin-top: 0;
	}

	.header__title {
		display: none;
	}

	.slider-item__info-title {
	    font-size: 48px;
	    line-height: 48px;
	    margin-bottom: 15px;
	}
	.slider-item__info-text {
 		font-size: 28px;
 	}

 	.head-line-left {
 		font-size: 14px;
 		line-height: 16px;
 	}

 	.menu-btn {
 		top: 60px;
 	}

 	.holder {
 		background-size: 120px;
 		.title {
 			span {
 				padding-left: 0;
 			}
 		}
 	}

	.shop__slider-content {
		padding-left: 0;
	}

 	.surfboard__position--2 {
 		left: 3px;
 	}

 	.surfboard__position--1 .surfboard-box__content {
 		left: -146px;
 	}
}

@media(max-width: 425px) {
	.slider-map {
		.slider-dots__content {
			width: 250px;
			padding: 28px 15px 0px;
		}
		.slick-current {
			.slider-dots__content {
				width: 250px;
				padding: 28px 15px 0px;
			}
		}
	}

	.holder-slider__descr .descr__head .holder__star-list {
		position: static;
		margin-left: -15px;
	}

	.holder-slider__descr .descr__head.descr__head-sleep {
		padding-right: 0;
	}
}

@media(max-width: 374px) {
	.slider-map {
		.slider-dots__content {
			width: 200px;
			padding: 28px 15px 0;
		}
		.slick-current {
			.slider-dots__content {
				width: 200px;
				padding: 28px 10px 0px;
			}
		}
	}

	.shop__extras-box {
		margin-right: 30px;
	}
}